<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Welcome to Department Application</h1>
<form action="departments" method="post">
<label for="departmentName">Department Name:</label><br/>
<input type="text" name="departmentName"/>

<label for="departmentAddress">Department Address:</label><br/>
<input type="text" name="departmentAddress"/>

<label for="departmentCode">Department Code:</label><br/>
<input type="text" name="departmentCode"/>

<button type="submit" >Submit</button>
</form>
</body>
</html>